/* variables */
:root{
    --primary-color: #caa395;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
.ms_d_blok{
    display: block;
}

.ms_w_100{
    width: 100%;
}

.ms_background-white{
    background-color: white; 
}

.ms_p30{
    padding: 30px;
}

.ms_pt100{
    padding-top: 100px;
}

.ms_mt110{
    margin-top: 110px;
}

.ms_image{
    width: 150px;
}

.ms_tc{
    text-align: center;
}

.ms_mt40{
    margin-top: 40px;
}

.ms_mt10{
    margin-top: 10px;
}

.ms_p_tb{
    padding-bottom: 10px;
    padding-top: 10px;
}

.ms_title{
    color: var(--primary-color);
}

.ms_t-decoration{
    text-decoration: none;
}

.ms_c_b{
    color: black;
}

/* Header */

header{
    border-bottom: 1px solid #646368;
    border-radius: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

/* Main */

main{
    background-image: url('../img/sfondoEsercizio.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
}

.ms_container{
    width: 500px;
    margin: auto;
}

.ms_box{
    border: 1px solid  var(--primary-color);
    border-radius: 20px;
}

/* Form */

input{
    border: none;
    border-bottom: 2px solid  var(--primary-color);
}

.ms_link{
    border-radius: 10px;
    background-color:  var(--primary-color);
    border: 1px solid  var(--primary-color);
    color: white;
}

/* Main event */

.ms_container_pg{
    width: 1000px;
    margin: 0 auto;
}


.ms_card{
    text-align: start;
    display: inline-block;
    width: 27%;
    margin: 0 15px;
}

.ms_date{
    color: #ababab;
}