*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
.ms_background-white{
    background-color: white; 
}

.ms_p30{
    padding: 30px;
}

.ms_pt100{
    padding-top: 100px;
}

.ms_mt110{
    margin-top: 110px;
}

.ms_image{
    width: 150px;
}

.ms_tc{
    text-align: center;
}

.ms_m40{
    margin: 40px;
}

.ms_m20{
    margin: 10px;
}
/* Header */

header{
    border-bottom: 1px solid #646368;
    border-radius: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

/* Main */

main{
    background-image: url('../img/sfondo\ esercizio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
}

.ms_container{
    width: 500px;
    margin: auto;
}

h1{
    color: #caa395;
}

.ms_box{
    border: 1px solid #caa395;
    border-radius: 20px;
}

/* Form */